[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
dash-bootstrap-components = "*"
dash-ag-grid = "*"
dash = "*"
python-frontmatter = "*"
frontmatter = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
